@import '_global.sss'

nav
  position: fixed
  left: 0
  top: 0
  height: 99%
  width: var(--nav-width)
  z-index: 100
  text-align: right


  @media (max-width: 640px)
    display: none

ul
  padding: 0
  text-transform: uppercase
  font-size: 20px

.nav
  /*text-align: center*/
